In [1]:
import pandas as pd
import sqlite3

In [2]:
pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',nrows=10)

,COOR_X_PHSQ,COD_RECT,COD_MOD_VALD,LIBL_LONG_MOD,LIBL_NATR_VALD,COD_STF_TRNS,COD_STF_RES,LIBL_STF_LIGN,NUMR_COURSE,IDNT_MISS_RATP,IDNT_VEHC,NUMR_BORN_VALD_EQPM,COD_TLB_ARRT_STTN,JOUR_EXPL_VALD,NUMR_CART,COD_STF_LIGN,COD_NATR_VALD,COOR_Y_PHSQ,LIBL_LONG_ARRT_STTN,HEUR_VALD
0,5.99201435900003E 005,NaN,2,BUS,Entree Bus,100,100,PORTE D'ORLEANS - METRO-CHARCOT - ZOLA,32693,585,1882,5161,30010187005,2019-02-11,28324619970161004008,187,11,1.22752745033534E 005,CROIX D'ARCUEIL,09:16:14 ...
1,5.92758739758578E 005,NaN,2,BUS,Entree Bus,100,100,GARE D'ARGENTEUIL-GARE DE SARTROUVILLE-RER,50810,120,5415,14361,30010272009,2019-02-11,17754583754807690272,272,11,1.37278221182248E 005,PLACE DU 11 NOVEMBRE,17:32:42 ...
2,6.26114337257746E 005,NaN,2,BUS,Entree Bus,62,62,AVON (LES BOULEAUX) - FONTAINEBLEAU (LES LILAS),17,-1,8001,4115,612,2019-02-11,89255867590981351598,61,11,7.85681132102329E 004,DUNANT,14:03:00 ...
3,5.98318032694603E 005,NaN,2,BUS,Entree Bus,100,100,OPERA-PONT DE LEVALLOIS,70090,3004,9847,15096,30010053024,2019-02-11,66148194672078803885,53,11,1.31860471595416E 005,PONT CARDINET,16:34:20 ...
4,5.92758739758578E 005,NaN,2,BUS,Entree Bus,100,100,GARE D'ARGENTEUIL-GARE DE SARTROUVILLE-RER,50676,120,1959,12412,30010272009,2019-02-11,03313363032388172216,272,11,1.37278221182248E 005,PLACE DU 11 NOVEMBRE,09:20:04 ...
5,5.99744140218466E 005,NaN,2,BUS,Entree Bus,100,100,PORTE DE BAGNOLET - LOUIS GANNE-LAPLACE RER,71143,65535,9484,16491,30010057051,2019-02-11,05080169377039544871,57,11,1.23043583823329E 005,LAPLACE RER,09:16:46 ...
6,5.93441997285573E 005,NaN,2,BUS,Entree Bus,100,100,PORTE DE SAINT-CLOUD-GABRIEL PERI-METRO,26292,701,8701,6929,30010175022,2019-02-11,46623649319802419438,175,11,1.31266985044792E 005,SQUARE LEON BLUM,19:01:52 ...
7,5.99201435900003E 005,NaN,2,BUS,Entree Bus,100,100,PORTE D'ORLEANS - METRO-CHARCOT - ZOLA,32800,585,4643,10411,30010187005,2019-02-11,86860311077993969201,187,11,1.22752745033534E 005,CROIX D'ARCUEIL,17:17:52 ...
8,6.38836219630579E 005,NaN,2,BUS,Entree Bus,67,167,MEAUX (Service Urbain),11897,-1,1940,2840,1508,2019-02-11,89528826658810048757,3,11,1.38562830278449E 005,SUCRERIE,07:48:00 ...
9,5.99744140218466E 005,NaN,2,BUS,Entree Bus,100,100,PORTE DE BAGNOLET - LOUIS GANNE-LAPLACE RER,71101,4,9363,5664,30010057051,2019-02-11,19163831060625212747,57,11,1.23043583823329E 005,LAPLACE RER,19:13:42 ...

In [3]:
test=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',nrows=10)
'2019-02-11' in list(test['JOUR_EXPL_VALD'])

True

In [4]:
time=['2019-02-11 03:00:00',
      '2019-02-12 03:00:00',
      '2019-02-13 03:00:00',
      '2019-02-14 03:00:00',
      '2019-02-15 03:00:00',
      '2019-02-16 03:00:00',
      '2019-02-17 03:00:00',
      '2019-02-18 03:00:00',
     ]
import datetime

time_limit=list(map(lambda x:datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S'),time))

In [5]:
time_limit

[datetime.datetime(2019, 2, 11, 3, 0),
 datetime.datetime(2019, 2, 12, 3, 0),
 datetime.datetime(2019, 2, 13, 3, 0),
 datetime.datetime(2019, 2, 14, 3, 0),
 datetime.datetime(2019, 2, 15, 3, 0),
 datetime.datetime(2019, 2, 16, 3, 0),
 datetime.datetime(2019, 2, 17, 3, 0),
 datetime.datetime(2019, 2, 18, 3, 0)]

In [6]:
#chose the 2019/02/11 3:00 to  2019/02/12 3:00 in the database 
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_11')
for chunk in chunks:
    
    if '2019-02-11' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-12' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[chunk['HEUR_VALD']<time_limit[1]]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_11',db,if_exists='append')

Wall time: 1h 6min 2s

In [9]:
db=sqlite3.connect('2019_02_11')
pd.read_sql_query("SELECT count(*) FROM '2019_02_11'",db)

   count(*)
0  13567169

In [10]:
db.close()

In [6]:
#chose the 2019/02/12 3:00 to  2019/02/13 3:00 in the database 
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_12')
for chunk in chunks:
    if '2019-02-12' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-13' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[(time_limit[1]<chunk['HEUR_VALD'])&(chunk['HEUR_VALD']<time_limit[2])]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_12',db,if_exists='append',index=False)

Wall time: 1h 10min 8s

In [7]:
db=sqlite3.connect('2019_02_12')
pd.read_sql_query("SELECT count(*) FROM '2019_02_12'",db)

   count(*)
0  13979213

In [9]:
db.close()

In [11]:
#chose the 2019/02/13 3:00 to  2019/02/14 3:00 in the database 
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_13')
for chunk in chunks:
    if '2019-02-13' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-14' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[(time_limit[2]<chunk['HEUR_VALD'])&(chunk['HEUR_VALD']<time_limit[3])]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_13',db,if_exists='append',index=False)

Wall time: 1h 3min 31s

In [12]:
db=sqlite3.connect('2019_02_13')
pd.read_sql_query("SELECT count(*) FROM '2019_02_13'",db)

   count(*)
0  13699803

In [2]:
db=sqlite3.connect('2019_02_13')
pd.read_sql_query("SELECT * FROM '2019_02_13'LIMIT 50",db)

,NUMR_CART,HEUR_VALD,JOUR_EXPL_VALD,LIBL_LONG_ARRT_STTN,LIBL_LONG_MOD,LIBL_NATR_VALD,COOR_X_PHSQ,COOR_Y_PHSQ
0,95118357532854375106,2019-02-13 18:19:08,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
1,26967080909193877237,2019-02-13 19:19:02,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
2,63497722530204578022,2019-02-13 15:43:46,2019-02-13,MAISON DE RETRAITE,BUS,Entree Bus,5.95478555120880E 005,1.25329387794771E 005
3,33487377272370740686,2019-02-13 10:23:10,2019-02-13,CHANZY,BUS,Entree Bus,5.95227018899833E 005,1.34334004713195E 005
4,36318391205773738310,2019-02-13 19:36:50,2019-02-13,GARE DE SAINT-CLOUD,BUS,Entree Bus,5.91270051200604E 005,1.27135563491499E 005
5,88176028666472891581,2019-02-13 18:06:58,2019-02-13,GARE DE SAINT-CLOUD,BUS,Entree Bus,5.91270051200604E 005,1.27135563491499E 005
6,88738206902907291189,2019-02-13 07:58:34,2019-02-13,CHANZY,BUS,Entree Bus,5.95227018899833E 005,1.34334004713195E 005
7,99095452677692949412,2019-02-13 14:38:38,2019-02-13,FELIX LANGLAIS,BUS,Entree Bus,6.04886239429321E 005,1.25320405482052E 005
8,55556441097206780447,2019-02-13 20:02:00,2019-02-13,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
9,71569623046388031839,2019-02-13 18:21:00,2019-02-13,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
10,32612435455254626074,2019-02-13 11:27:20,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
11,37482685657093633781,2019-02-13 18:21:00,2019-02-13,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
12,91629920958304551692,2019-02-13 18:25:02,2019-02-13,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
13,45569778100304156428,2019-02-13 07:05:28,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
14,02240970668417070780,2019-02-13 17:37:00,2019-02-13,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
15,21510479944587856430,2019-02-13 18:41:00,2019-02-13,ZI CIROLIERS,BUS,Entree Bus,6.01977219143554E 005,1.02544263719388E 005
16,63193760200660127741,2019-02-13 17:22:00,2019-02-13,Christiane Frahier,BUS,Entree Bus,5.80811031909057E 005,1.33613751784612E 005
17,07768055280596841193,2019-02-13 11:27:16,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
18,07702464246372316614,2019-02-13 08:33:58,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
19,10902586435433195636,2019-02-13 18:21:00,2019-02-13,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
20,95634404761599795202,2019-02-13 08:44:52,2019-02-13,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
21,99083540270706656110,2019-02-13 18:41:00,2019-02-13,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
22,66766449306722102119,2019-02-13 08:33:00,2019-02-13,Christiane Frahier,BUS,Entree Bus,5.80811031909057E 005,1.33613751784612E 005
23,12410266846842050412,2019-02-13 11:00:00,2019-02-13,Christiane Frahier,BUS,Entree Bus,5.80811031909057E 005,1.33613751784612E 005
24,41980025118382902868,2019-02-13 20:22:20,2019-02-13,DELERUE,BUS,Entree Bus,6.11792655680358E 005,1.21708827742032E 005
25,90320663243444576827,2019-02-13 13:17:08,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
26,74157890948355528286,2019-02-13 16:09:14,2019-02-13,FELIX LANGLAIS,BUS,Entree Bus,6.04886239429321E 005,1.25320405482052E 005
27,24059801259949448154,2019-02-13 20:06:04,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
28,36812237986916853481,2019-02-13 06:55:52,2019-02-13,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
29,54995544123547017187,2019-02-13 18:41:00,2019-02-13,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
30,16581967644829011258,2019-02-13 15:04:08,2019-02-13,GARE DU NORD,BUS,Entree Bus,6.01547058114498E 005,1.31202871892442E 005
31,84497107309044665859,2019-02-13 14:11:28,2019-02-13,GARE DU NORD,BUS,Entree Bus,6.01547058114498E 005,1.31202871892442E 005
32,25046330577806593596,2019-02-13 14:33:46,2019-02-13,GARE DU NORD,BUS,Entree Bus,6.01547058114498E 005,1.31202871892442E 005
33,98636956780911157482,2019-02-13 20:12:28,2019-02-13,GARE DE LYON - DIDEROT,BUS,Entree Bus,6.02548523257736E 005,1.27246238673134E 005
34,96072462786473105553,2019-02-13 17:44:32,2019-02-13,GARE DE LYON - DIDEROT,BUS,Entree Bus,6.02548523257736E 005,1.27246238673134E 005
35,91560522273687035521,2019-02-13 20:56:12,2019-02-13,GARE DU NORD,BUS,Entree Bus,6.01547058114498E 005,1.31202871892442E 005
36,29530472268413580425,2019-02-13 07:58:52,2019-02-13,GARE DE LYON - DIDEROT,BUS,Entree Bus,6.02548523257736E 005,1.27246238673134E 005
37,84270756607558613027,2019-02-13 19:24:18,2019-02-13,GARE DU NORD,BUS,Entree Bus,6.01547058114498E 005,1.31202871892442E 005
38,02316335070315275263,2019-02-13 15:44:12,2019-02-13,GARE DU NORD,BUS,Entree Bus,6.01547058114498E 005,1.31202871892442E 005
39,00018205403351330675,2019-02-13 07:58:00,2019-02-13,MOULIN A VENT,BUS,Entree Bus,6.26631945808692E 005,1.25371938974696E 005
40,20178340324496984140,2019-02-13 17:29:28,2019-02-13,GARE DU NORD,BUS,Entree Bus,6.01547058114498E 005,1.31202871892442E 005
41,17481653959236097807,2019-02-13 06:01:00,2019-02-13,RUE BIZET,BUS,Entree Bus,5.98944424615512E 005,1.03458888823911E 005
42,91780537162864519239,2019-02-13 09:43:58,2019-02-13,Inconnu,BUS,Entree Bus,-1.00000000000000E 000,-1.00000000000000E 000
43,08350286434197315177,2019-02-13 11:58:04,2019-02-13,CHANZY,BUS,Entree Bus,5.95227018899833E 005,1.34334004713195E 005
44,82247693257768008801,2019-02-13 12:35:28,2019-02-13,Inconnu,BUS,Entree Bus,-1.00000000000000E 000,-1.00000000000000E 000
45,01575727374233857408,2019-02-13 14:16:34,2019-02-13,Inconnu,BUS,Entree Bus,-1.00000000000000E 000,-1.00000000000000E 000
46,23847607838724670250,2019-02-13 08:32:08,2019-02-13,CHANZY,BUS,Entree Bus,5.95227018899833E 005,1.34334004713195E 005
47,55095474840107304768,2019-02-13 11:57:58,2019-02-13,CHANZY,BUS,Entree Bus,5.95227018899833E 005,1.34334004713195E 005
48,55476421911273452312,2019-02-13 14:38:10,2019-02-13,CHANZY,BUS,Entree Bus,5.95227018899833E 005,1.34334004713195E 005
49,55476421911273452312,2019-02-13 11:14:16,2019-02-13,CHANZY,BUS,Entree Bus,5.95227018899833E 005,1.34334004713195E 005

In [14]:
db.close()

In [15]:
#chose the 2019/02/14 3:00 to  2019/02/15 3:00 in the database 
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_14')
for chunk in chunks:
    if '2019-02-14' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-15' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[(time_limit[3]<chunk['HEUR_VALD'])&(chunk['HEUR_VALD']<time_limit[4])]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_14',db,if_exists='append',index=False)

Wall time: 1h 2min 20s

In [16]:
db=sqlite3.connect('2019_02_14')
pd.read_sql_query("SELECT count(*) FROM '2019_02_14'",db)

   count(*)
0  14217184

In [3]:
db=sqlite3.connect('2019_02_14')
pd.read_sql_query("SELECT * FROM '2019_02_14'LIMIT 10",db)

,NUMR_CART,HEUR_VALD,JOUR_EXPL_VALD,LIBL_LONG_ARRT_STTN,LIBL_LONG_MOD,LIBL_NATR_VALD,COOR_X_PHSQ,COOR_Y_PHSQ
0,74641233769831451558,2019-02-14 05:36:18,2019-02-14,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
1,75863157341338071992,2019-02-14 10:59:00,2019-02-14,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
2,06358756522042282407,2019-02-14 18:55:00,2019-02-14,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
3,14087507756391686042,2019-02-14 18:31:00,2019-02-14,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
4,43814416601591952347,2019-02-14 14:38:08,2019-02-14,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
5,49595801353656387941,2019-02-14 08:03:10,2019-02-14,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
6,76852724507707112305,2019-02-14 07:43:00,2019-02-14,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
7,87137975010997908530,2019-02-14 13:47:24,2019-02-14,Inconnu,BUS,Entree Bus,-1.00000000000000E 000,-1.00000000000000E 000
8,36446510540066298392,2019-02-14 08:00:04,2019-02-14,FELIX LANGLAIS,BUS,Entree Bus,6.04886239429321E 005,1.25320405482052E 005
9,93288324228090888748,2019-02-14 18:18:00,2019-02-14,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005

In [6]:
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_15')
for chunk in chunks:
    if '2019-02-15' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-16' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[(time_limit[4]<chunk['HEUR_VALD'])&(chunk['HEUR_VALD']<time_limit[5])]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_15',db,if_exists='append',index=False)

Wall time: 1h 3min 3s

In [11]:
db=sqlite3.connect('2019_02_15')
pd.read_sql_query("SELECT COUNT(*) FROM '2019_02_15'LIMIT 10",db)

   COUNT(*)
0  13818161

In [10]:
db=sqlite3.connect('2019_02_15')
pd.read_sql_query("SELECT * FROM '2019_02_15'LIMIT 10",db)

,NUMR_CART,HEUR_VALD,JOUR_EXPL_VALD,LIBL_LONG_ARRT_STTN,LIBL_LONG_MOD,LIBL_NATR_VALD,COOR_X_PHSQ,COOR_Y_PHSQ
0,27734847045241026771,2019-02-15 18:16:00,2019-02-15,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
1,09777964338669343796,2019-02-15 18:31:00,2019-02-15,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
2,81286772386115044067,2019-02-15 17:34:00,2019-02-15,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
3,12792930836207440504,2019-02-15 08:32:30,2019-02-15,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
4,49217034995924532947,2019-02-15 08:10:00,2019-02-15,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
5,56719818978230749752,2019-02-15 17:42:00,2019-02-15,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
6,85537162986577498036,2019-02-15 17:51:38,2019-02-15,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
7,87131663888144593408,2019-02-15 16:37:30,2019-02-15,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
8,14381736660083492671,2019-02-15 15:55:02,2019-02-15,FELIX LANGLAIS,BUS,Entree Bus,6.04886239429321E 005,1.25320405482052E 005
9,82567554585364172898,2019-02-15 08:03:00,2019-02-15,Christiane Frahier,BUS,Entree Bus,5.80811031909057E 005,1.33613751784612E 005

In [6]:
db.close()

In [7]:
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_16')
for chunk in chunks:
    if '2019-02-16' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-17' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[(time_limit[5]<chunk['HEUR_VALD'])&(chunk['HEUR_VALD']<time_limit[6])]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_16',db,if_exists='append',index=False)

Wall time: 1h 1min 4s

In [12]:
db=sqlite3.connect('2019_02_16')
pd.read_sql_query("SELECT COUNT(*) FROM '2019_02_16'LIMIT 10",db)

   COUNT(*)
0   7681095

In [13]:
db=sqlite3.connect('2019_02_16')
pd.read_sql_query("SELECT * FROM '2019_02_16'LIMIT 10",db)

,NUMR_CART,HEUR_VALD,JOUR_EXPL_VALD,LIBL_LONG_ARRT_STTN,LIBL_LONG_MOD,LIBL_NATR_VALD,COOR_X_PHSQ,COOR_Y_PHSQ
0,48304232509006872755,2019-02-16 12:13:30,2019-02-16,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
1,65490581630156438357,2019-02-16 14:01:54,2019-02-16,FELIX LANGLAIS,BUS,Entree Bus,6.04886239429321E 005,1.25320405482052E 005
2,30977808039661382950,2019-02-16 15:53:12,2019-02-16,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
3,08978893257625472392,2019-02-16 18:20:52,2019-02-16,MAISON DE RETRAITE,BUS,Entree Bus,5.95478555120880E 005,1.25329387794771E 005
4,03836831967018098385,2019-02-16 16:46:16,2019-02-16,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
5,24051289544731442517,2019-02-16 11:36:34,2019-02-16,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
6,48757525811556670979,2019-02-16 14:03:24,2019-02-16,ALCIDE D'ORBIGNY,BUS,Entree Bus,6.02007633650683E 005,1.40748723019047E 005
7,60438440146754496399,2019-02-16 08:15:14,2019-02-16,FELIX LANGLAIS,BUS,Entree Bus,6.04886239429321E 005,1.25320405482052E 005
8,23159362990402782628,2019-02-16 17:19:00,2019-02-16,Les Noyers,BUS,Entree Bus,6.12858277132074E 005,1.19682000839363E 005
9,71186539353345851668,2019-02-16 19:59:40,2019-02-16,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005

In [8]:
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_17')
for chunk in chunks:
    if '2019-02-17' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-18' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[(time_limit[6]<chunk['HEUR_VALD'])&(chunk['HEUR_VALD']<time_limit[7])]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_17',db,if_exists='append',index=False)

Wall time: 58min 29s

In [17]:
db=sqlite3.connect('2019_02_17')
pd.read_sql_query("SELECT COUNT(*) FROM '2019_02_17'",db)

   COUNT(*)
0   5007747

In [18]:
db=sqlite3.connect('2019_02_17')
pd.read_sql_query("SELECT * FROM '2019_02_17'LIMIT 10",db)

,NUMR_CART,HEUR_VALD,JOUR_EXPL_VALD,LIBL_LONG_ARRT_STTN,LIBL_LONG_MOD,LIBL_NATR_VALD,COOR_X_PHSQ,COOR_Y_PHSQ
0,10326066533891245352,2019-02-17 08:49:40,2019-02-17,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
1,69149792992050552420,2019-02-17 16:09:36,2019-02-17,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
2,61147037203781473847,2019-02-17 17:31:30,2019-02-17,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
3,46227557157870220633,2019-02-17 17:31:14,2019-02-17,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
4,09808216948875582034,2019-02-17 09:47:26,2019-02-17,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
5,46024007655127945456,2019-02-17 16:56:30,2019-02-17,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
6,01534143984372354066,2019-02-17 09:12:00,2019-02-17,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
7,64449378662190694584,2019-02-17 06:23:02,2019-02-17,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005
8,08794198329307940499,2019-02-17 18:53:36,2019-02-17,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
9,48566271357021399494,2019-02-17 09:18:08,2019-02-17,CARREFOUR DES MOUILLEBOEUFS,BUS,Entree Bus,5.95937144775652E 005,1.20350094235712E 005

In [9]:
%%time
chunks=pd.read_csv(r'C:\Users\yazi.zhu\Documents\enpc_2019.txt',delimiter=";",encoding='iso 8859-1',chunksize=10_000)
db=sqlite3.connect('2019_02_18')
for chunk in chunks:
    if '2019-02-18' in list(chunk['JOUR_EXPL_VALD']) or '2019-02-19' in list(chunk['JOUR_EXPL_VALD']):
        chunk['HEUR_VALD']=chunk['JOUR_EXPL_VALD']+str(' ')+chunk['HEUR_VALD'].apply(lambda x:x.split(' ')[0])
        chunk['HEUR_VALD']=pd.to_datetime(chunk['HEUR_VALD'],format='%Y-%m-%d %H:%M:%S')
        chunk=chunk[time_limit[7]<chunk['HEUR_VALD']]
        chunk=chunk[['NUMR_CART',
                     'HEUR_VALD',
                     'JOUR_EXPL_VALD',
                     'LIBL_LONG_ARRT_STTN',
                     'LIBL_LONG_MOD',
                     'LIBL_NATR_VALD',
                     'COOR_X_PHSQ',
                     'COOR_Y_PHSQ']]
        chunk.to_sql('2019_02_18',db,if_exists='append',index=False)

Wall time: 1h 4min 7s

In [19]:
db=sqlite3.connect('2019_02_18')
pd.read_sql_query("SELECT COUNT(*) FROM '2019_02_18'",db)

   COUNT(*)
0  13384350

In [20]:
db=sqlite3.connect('2019_02_18')
pd.read_sql_query("SELECT * FROM '2019_02_18'LIMIT 10",db)

,NUMR_CART,HEUR_VALD,JOUR_EXPL_VALD,LIBL_LONG_ARRT_STTN,LIBL_LONG_MOD,LIBL_NATR_VALD,COOR_X_PHSQ,COOR_Y_PHSQ
0,61696666039414193163,2019-02-18 19:09:34,2019-02-18,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
1,56424417382946668746,2019-02-18 09:48:52,2019-02-18,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
2,54902317892779263828,2019-02-18 07:21:00,2019-02-18,Christiane Frahier,BUS,Entree Bus,5.80811031909057E 005,1.33613751784612E 005
3,30504016587753448712,2019-02-18 22:18:56,2019-02-18,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
4,07919241177190992360,2019-02-18 16:47:38,2019-02-18,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
5,16532488824007246500,2019-02-18 13:34:00,2019-02-18,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
6,41747637851800622698,2019-02-18 16:00:52,2019-02-18,GENERAL LECLERC,BUS,Entree Bus,6.01540980845395E 005,1.38186436029089E 005
7,80778752964974342821,2019-02-18 17:32:00,2019-02-18,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005
8,34084374157835246720,2019-02-18 08:09:32,2019-02-18,DELERUE,BUS,Entree Bus,6.11792655680358E 005,1.21708827742032E 005
9,04877367146877879056,2019-02-18 17:22:00,2019-02-18,FEGARE,BUS,Entree Bus,6.57682454998458E 005,1.39207219626504E 005

In [16]:
13567169+13979213+13699803+14217184+13818161+7681095+5007747+13384350

95354722